<style>
	.piece-{{ctrl.name}} .pieceImg {
		background-image: url({{ctrl.imgDir}}{{ctrl.currentOption.img}});
	}
</style>
<div class="piece piece-{{ctrl.name}}">
	<div class="swatches" ng-style="ctrl.positioning.swatches" ng-show="ctrl.showSwatchs">
		<div
			ng-repeat="option in ctrl.options"
			ng-click="ctrl.selectOption(option)" style="{{option.swatchStyle}}"></div>
	</div>
	<div class="swatchOpener" ng-style="ctrl.positioning.swatchOpener" ng-click="ctrl.openSwatch()"></div>
	<div class="swatchCloser" ng-show="ctrl.showSwatchs" ng-click="ctrl.closeSwatchs()"></div>
	<div class="pieceImg" ng-style="ctrl.positioning.pieceImg"></div>
</div>
