<style>
	#shoulder {
		position: absolute;
		top: 0px; left: 0px; right: 0px; bottom: 0px;
	}

	#shoulder #swatches {
		position: absolute;
		left: 174px;
		top: 52px;
		z-index: 10;
		border: 1px solid #0FF;
	}

	#shoulder #swatches > div {
		height: 30px;
		width: 30px;
		border-radius: 30px;
		margin-bottom: 5px;
	}
	.first  { background-color: #00F; }
	.second { background-color: #0F0; }
	.third  { background-color: #FF0; }
	.fourth { background-color: #F0F; }
	.fifth  { background-color: #F00; }

	#swatchCloser {
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 0;

		border: 1px solid #00F;

		z-index: 8;
	}
	#swatchOpener {
		position: absolute;
		top: 50px;
		left: 215px;
		height: 200px;
		width: 133px;
		border: 1px solid #0F0;

		z-index: 5;
	}
	#shoulderImg {
		border: 1px solid #F00;
		background-image: url(images/shoulder/{{shoulderColour}}.png);
		position: absolute;

		top: 52px;
		left: 206px;

		width: 144px;
		height: 276px;
		z-index: 2;
	}

</style>

<div id="shoulder">
	<div id="swatches" ng-show="showSwatchs">
		<div ng-click="selectSwatch('blue')" class="first"></div>
		<div ng-click="selectSwatch('green')" class="second"></div>
		<div ng-click="selectSwatch('yellow')" class="third"></div>
		<div ng-click="selectSwatch('purple')" class="fourth"></div>
		<div ng-click="selectSwatch('red')" class="fifth"></div>
	</div>
	<div id="swatchOpener" ng-click="openSwatch()"></div>
	<div id="swatchCloser" ng-show="showSwatchs" ng-click="closeSwatchs()"></div>
	<div id="shoulderImg"></div>
</div>
