<style>
	.piece .swatches {
		left: 350px;
		top: 52px;
	}
	.swatchOpener {
		top: 50px;
		left: 215px;
		height: 200px;
		width: 133px;
	}
	.piece-{{ctrl.name}} .pieceImg {
		background-image: url({{ctrl.imgDir}}{{ctrl.currentOption.img}});

		top: 53px;
		left: 207px;
		width: 144px;
		height: 276px;
	}
</style>
<div class="piece piece-{{ctrl.name}}">
	<div class="swatches" ng-show="ctrl.showSwatchs">
		<div
			ng-repeat="option in ctrl.options"
			ng-click="ctrl.selectOption(option)" style="{{option.swatchStyle}}"></div>
	</div>
	<div class="swatchOpener" ng-click="ctrl.openSwatch()"></div>
	<div class="swatchCloser" ng-show="ctrl.showSwatchs" ng-click="ctrl.closeSwatchs()"></div>
	<div class="pieceImg"></div>
</div>
